@import "tailwindcss";

@theme {
  --font-sans: system-ui, -apple-system, "Microsoft YaHei", sans-serif;
}

body {
  background-color: #F5F5F7;
  color: #111827;
  font-family: system-ui, -apple-system, "Microsoft YaHei", sans-serif;
}
